# 依赖
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# 构建产物
dist/
build/
.next/

# 缓存文件
.cache/
.vite/
.eslintcache

# IDE配置
.vscode/
.idea/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# 环境变量
.env
.env.local
.env.*.local

docs/
